// colors
$color-purple:#AE33FF;
$color-grey-light:#454847;
$color-white:#eee;
// for white template
$family-syne: "syne";
$family-roboto-thin: "roboto_thin";

// font-sizes
$font-small: clamp(0.7rem, 2vw, 1rem);
$font-normal-small: clamp(0.9rem, 2vw, 1.1rem);
$font-normal: clamp(1.1rem, 2vw, 1.3rem);
$font-extra-normal: clamp(1.9rem,2vh, 2.1rem);
$font-large: clamp(2.2rem, 2vw, 2.5rem);
$font-larger: clamp(2.8rem, 2vw, 3rem);
$font-larger-extra: clamp(4rem, 2vw, 4.3rem);


// font face
@font-face {
  font-family: "syne";
  src: url("./fonts/syne-font-family/Syne-Regular-BF642e31d3934f5.otf");
}

@font-face {
  font-family: "roboto_thin";
  src: url("./fonts/roboto-mono/RobotoMono-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

:root{
    --bg-color:#FFFFFF;
    --text-color:#1F1F1F;
    --text-purple:#AE33FF;
    --text-white-black:#1f1f1f;
    --text-white-black-lite:#1f1f1f9e;
    
}

body.dark{
    --bg-color:#111;
    --text-color:#eee;
    --text-purple:#ad33ffa1;
    --text-white-black:#eee;
    --text-white-black-lite:#eee;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'syne';
}


main{
    // section1 
    // display: flex;
    // flex-direction: column  ;
section{
    padding: 0 1rem;
   
    .section1{

        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .left{
             display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                width: 40%;
                font-size: $font-large;
                span{
                    color: var(--text-purple);
                }
            }
            p{
                width: 60%;
                font-size: $font-normal;
                color: var(--text-white-black-lite);
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .two_elem{
                display: flex;
                gap: 2rem;
                button{
                    background-color: $color-purple;
                    color: $color-white;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    border: none;
                    // font-size: $font-small;

                }
                a{
                    text-decoration: none;
                    color: var(--text-white-black);
                }
            }
        }
        .right{
            .ecplise{
                display: none;
            }
            .images{
                display: flex;
                gap: 1rem;
                img{
                    background-color: white;
                    padding: 0.6rem;
                    border-radius: 50%;

                }
            }
        }
    }


}

// image
.img{
    img{
        display: none;
    }
}

// section2
section{
    padding: 0 2rem;
    .section2{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .left{
            h1{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                span{
                    color: $color-purple;
                }
            }
        }
        .right{
            display: flex;
    
            gap: 2rem;
            width: 80%;
        }
    }
}

}

// media query
@media (min-width:768px){
    section{
        .section1{
            flex-direction: row;

            .left{
                h1{
                    width: 60%;
                    font-size: $font-larger-extra;
                }
                p{
                    font-size: $font-normal-small;
                }

            }
            .right{
                position: relative;
                height: 24rem;
                .ecplise{
                    display:    block;
                    position: absolute;
                    // top: -10%;
                    // top: 0;
                    right: -100%;
                    height: 100%;
                    opacity: 0.8;
                //     height: 120%;
                //     z-index: 0;
                }

                
                
                .images{
                    margin-top: 2rem;
                    // position: absolute;
                    flex-direction: column  ;
                    a{
                        z-index: 1;
                    }
              
                }

            }
        }
    }
}


@media (min-width:1024px){
    section{
        
        padding-left: 8rem;
        .section1{
            flex-direction: row;

            .left{
                h1{
                    width: 80%;
                    font-size: $font-larger-extra;
                }
                p{
                    font-size: $font-normal-small;
                }

            }
            .right{
                position: relative;
                height: 20rem;
                .ecplise{
                    display:    block;
                    position: absolute;
                    right: -100%;
                    height: 100%;
                    opacity: 0.8;
                //  
                }

                
                
                .images{
                    margin-top: 2rem;
                    // position: absolute;
                    flex-direction: column  ;
                    a{
                        z-index: 1;
                    }
              
                }

            }
        }
    }

    .img{
        img{
            display: none;
        }
    }
  
}

